* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  min-height: 100vh;
  transition: all 500ms ease-in;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/clouds.avif");
}

.app-wrap {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #2027293a;
  transition: all 500ms;
}

.app-wrap.light *{
 color: white
}

.app-wrap.light header input{
  border-bottom: 3px solid white;
}

.app-wrap.light header button{
  border: 2px solid rgba(241, 233, 233, 0.3);
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 320px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 500px;
  background-color: rgba(241, 233, 233, 0.3);
  border-bottom: 3px solid black;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input *{
  color: black;
}

header button{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(241, 233, 233, 0.3);
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

header button img{
  width: 50%;
  height: auto;
}

header input:focus {
  background-color: rgba(191, 183, 183, 0.775);
}

main {
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  transition: 500ms ease-in;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  transition: 500ms ease-in;
  font-size: 16px;
}

.current .temp {
  transition: 500ms ease-in;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
}

.current .temp h2{
  display: inline-block;
  font-size: inherit;
}


.current .temp span {
  transition: 500ms ease-in;
  font-weight: 500;
}

.current .weather {
  transition: 500ms ease-in;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.current .hi-low {
  transition: 500ms ease-in;
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .app-wrap {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .location .city {
    font-size: 28px;
  }
  
  .location .date {
    font-size: 16px;
  }
  
  .current .temp {
    font-size: 72px;
  }
  
  .current .weather {
    font-size: 28px;
  }
  
  .current .hi-low {
    font-size: 18px;

  }

}